{% extends 'base.html' %}

{% load static %}

{% block content %}
    <h2 class="text-center" >Livro - {{ book.title }}</h2>
    <hr>
    <div class="col-md-6 offset-md-3" >
        <div class="card" >
            <div class="card-header text-center " >
                {{book.title}}
            </div>
            <div class="card-body text-center" >                
                <h5 class="card-title" >{{book.genre}}, Ano: {{book.year}}</h5>
                <div class="d-flex align-items-center justify-content-center" style="height:20px;margin-bottom:5px;">

                    {% comment %} <div> Teste de Nota: {{ media_rating }} </div> {% endcomment %}
                    
                    <style>                                   
                        .wrap {
                            width: 150px;
                            height: 50px;
                        }
                        .stars1 {
                            width: fit-content;
                            margin: 0 auto;
                            cursor: pointer;
                            font-size:20px;
                        }
                        .star1 {
                            color:rgb(230, 178, 11) !important;
                            font-size:15px;
                        }
                        .rate1 {
                            height: 50px;
                            margin-left: -5px;
                            padding: 2px;
                            font-size: 25px;
                            position: relative;
                        }
                        .rate1 input[type="radio"] {
                            opacity: 0;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,0%);
                            pointer-events: none;
                        }
                        .star-over1::after {
                            font-family: 'Font Awesome 5 Free';
                            font-weight: 900;
                            font-size: 12px;
                            content: "\f005";
                            display: inline-block;
                            color:rgb(230, 178, 11);
                            z-index: 1;
                            position: absolute;
                            top: 19px;
                            left: 4px;
                        }
                    </style>                    

                    <div class="wrap">
                        <div class="stars">
                            <label class="rate1">
                                <input type="radio" name="radio1" id="star1" value="1"  >
                                <div class="face"></div>
                                <i class="far fa-star star1 one-star {% if 1 <= media_rating  %} fas rate-active {% endif %}"></i>
                            </label>
                            <label class="rate1">
                                <input type="radio" name="radio1" id="star2" value="2" class="">
                                <div class="face"></div>
                                <i class="far fa-star star1 two-star {% if 2 <= media_rating  %} fas rate-active {% endif %}"></i>
                            </label>
                            <label class="rate1">
                                <input type="radio" name="radio1" id="star3" value="3" class="">
                                <div class="face"></div>
                                <i class="far fa-star star1 three-star {% if 3 <= media_rating  %} fas rate-active {% endif %}"></i>
                            </label>
                            <label class="rate1">
                                <input type="radio" name="radio1" id="star4" value="4" class="">
                                <div class="face"></div>
                                <i class="far fa-star star1 four-star {% if 4 <= media_rating  %} fas rate-active {% endif %}"></i>
                            </label>
                            <label class="rate1">
                                <input type="radio" name="radio1" id="star5" value="5" class="">
                                <div class="face"></div>
                                <i class="far fa-star star1 five-star {% if media_rating >= 4.3 %} fas rate-active {% endif %}"></i>
                            </label>
                        </div>
                    </div>

                </div>
                
                <img src="{{ book.image.url }} " class="w-50 " style="max-height:300px;object-fit:contain;" alt="{{ book.title }}">

                <div style="margin-top:10px;" >
                    <a href="{% url 'tag_search' %}?search={{ book.genre }}" style="color:black;" >
                        <div class="card p-1" style="display: inline-block; margin-left:10px" 
                        onmouseover="this.style.backgroundColor='#d3d3d3';" onmouseout="this.style.backgroundColor='';"
                        >{{ book.genre }}</div>
                    </a>
                </div>

                <p class="mt-3">Descrição: {{book.description}}</p>                
                <hr>

                <p class="fs-6" >Disponibilizado a venda: {{ book.created_at|date:"d/m/y - H:i"}}  </p>

                {% if book.created_at|date:"d/m/y - H:i" == book.last_update|date:"d/m/y - H:i" %}
                <p class="fs-6"  >Ultima atualização: -----    |     Qtde em Estoque: {{book.stock}}</p>
                {% else %}
                <p class="fs-6" style="font-size: 0.5rem;" >Ultima atualização: {{ book.last_update|date:"d/m/y - H:i"}}     |     Qtde em Estoque: {{book.stock}} </p>
                {% endif %}

                {% comment %} <span>Avaliação: </span><span> ★★★☆☆</span> {% endcomment %}

                

                <div class="d-flex align-items-center justify-content-center" style="height:30px;">Avalie aqui:
                    <style>                                   
                        .wrap {
                            width: 150px;
                            height: 50px;
                        }
                        .stars {
                            width: fit-content;
                            margin: 0 auto;
                            cursor: pointer;
                            font-size:20px;
                        }
                        .star {
                            color:rgb(230, 178, 11) !important;
                            font-size:15px;
                        }
                        .rate {
                            height: 50px;
                            margin-left: -5px;
                            padding: 2px;
                            font-size: 25px;
                            position: relative;
                            cursor: pointer;
                        }
                        .rate input[type="radio"] {
                            opacity: 0;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,0%);
                            pointer-events: none;
                        }
                        .star-over::after {
                            font-family: 'Font Awesome 5 Free';
                            font-weight: 900;
                            font-size: 12px;
                            content: "\f005";
                            display: inline-block;
                            color:rgb(230, 178, 11);
                            z-index: 1;
                            position: absolute;
                            top: 19px;
                            left: 4px;
                        }
                    </style>

                    <form method="POST" class="d-flex align-items-center wrap" style="width:250px; margin-left:10px;">
                        {% csrf_token %}
                        <div class="stars">
                            <label class="rate">
                                <input type="radio" name="rating" id="star1" value="1">
                                <div class="face"></div>
                                <i class="far fa-star star one-star {% if user_rating and 1 <= user_rating.rating  %} fas rate-active {% endif %}"></i>
                            </label>
                            <label class="rate">
                                <input type="radio" name="rating" id="star2" value="2">
                                <div class="face"></div>
                                <i class="far fa-star star two-star {% if user_rating and 2 <= user_rating.rating  %} fas rate-active {% endif %}"></i>
                            </label>
                            <label class="rate">
                                <input type="radio" name="rating" id="star3" value="3">
                                <div class="face"></div>
                                <i class="far fa-star star three-star {% if user_rating and 3 <= user_rating.rating  %} fas rate-active {% endif %}"></i>
                            </label>
                            <label class="rate">
                                <input type="radio" name="rating" id="star4" value="4">
                                <div class="face"></div>
                                <i class="far fa-star star four-star {% if user_rating and 4 <= user_rating.rating  %} fas rate-active {% endif %}"></i>
                            </label>
                            <label class="rate">
                                <input type="radio" name="rating" id="star5" value="5">
                                <div class="face"></div>
                                <i class="far fa-star star five-star {% if user_rating and user_rating.rating >= 4.3  %} fas rate-active {% endif %}"></i>
                            </label>                            
                        </div>
                        <button class="btn btn-info d-flex align-items-center btn-sm" name="rating_submit" style="height:30px;" type="submit">Enviar Avaliação</button>
                    </form>

                    <script>

                        (function() {

                            // Evento de mouseover e mouseleave para as estrelas
                            document.querySelectorAll('.rate').forEach(function(starLabel) {
                                starLabel.addEventListener('mouseover', function() {
                                    let stars = this.querySelectorAll('.far');
                                    stars.forEach(function(star) {
                                        star.classList.add('star-over');
                                    });
                                    let prevStars = this.previousElementSibling;
                                    while (prevStars) {
                                        prevStars.querySelector('.far').classList.add('star-over');
                                        prevStars = prevStars.previousElementSibling;
                                    }
                                });
                
                                starLabel.addEventListener('mouseleave', function() {
                                    let stars = this.querySelectorAll('.far');
                                    stars.forEach(function(star) {
                                        star.classList.remove('star-over');
                                    });
                                    let prevStars = this.previousElementSibling;
                                    while (prevStars) {
                                        prevStars.querySelector('.far').classList.remove('star-over');
                                        prevStars = prevStars.previousElementSibling;
                                    }
                                });
                
                                // Evento de clique para as estrelas
                                starLabel.addEventListener('click', function() {
                                    let allStars = this.parentElement.querySelectorAll('.rate .star');
                                    allStars.forEach(function(star) {
                                        star.classList.remove('fas', 'rate-active'); // Remove as classes de estrela preenchida
                                        star.classList.add('far'); // Marca as estrelas como vazias
                                    });
                                    let currentStar = this.querySelector('.star');
                                    currentStar.classList.add('fas', 'rate-active'); // Marca a estrela clicada como preenchida
                                    let prevStars = this.previousElementSibling;
                                    while (prevStars) {
                                        prevStars.querySelector('.star').classList.add('fas'); // Preenche todas as estrelas anteriores
                                        prevStars = prevStars.previousElementSibling;
                                    }
                                });
                            });
                
                        })();
                    </script>
                </div>


                

                <hr>
                <h4>R$ {{book.value|floatformat:2 }} </h4>
            </div>
        </div>
        <br>

        <div class="d-flex gap-2 justify-content-end">
            <a href="{% url 'home' %}" class="btn btn-secondary" >Voltar</a>
            <a href="#myModal" onclick="renderCart(this, {{ book.id }})" class="btn btn-primary"
                data-book-title="{{ book.title }}"
                data-book-image="{{ book.image.url }}"
                data-book-value="{{ book.value }}"
                data-book-id="{{ book.id }}" 
                data-bs-toggle="modal" data-bs-target="#myModal" >Add ao Carrinho</a>

        {% comment %} Se o Usuario for ADM  {% endcomment %}
        {% if user.is_authenticated and user.is_staff  %}
            <a href="{% url 'update_book' book.id %}" class="btn btn-warning" >Atualizar Inf. Livro</a>      
            <a href="{% url 'delete_book' book.id %}" class="btn btn-danger" >Excluir Livro</a>
        {% endif %}
        </div>
        <br>

        <form class="d-flex flex-column" method="post" >
            {% csrf_token %}
            
            {{ comment_form.as_p }}
            <button class="rounded form-control btn btn-info" name="comment_submit" type="submit">Enviar Comentário</button>
            <br>
        </form>

        <div class=" text-center ">            
            {% if comments %}
                {% for comment in comments %} 
                {% comment %} {% if book.comments %}
                    {% for comment in book.comments.all %}  {% endcomment %}
                    <div class="d-flex gap-3">

                        {% comment %} <textarea class="form-control" readonly style="resize: none; height:100px; overflow:hidden;"> 
                            {% if comment.user.userprofile and comment.user.userprofile.user_image %}
                                <img src="{{ comment.user.userprofile.user_image.url }}" alt="Imagem de perfil">
                            {% else %}
                                <img src="path/to/default-image.jpg" alt="Imagem padrão">
                            {% endif %}
                            : {{ comment.text }}
                        </textarea> {% endcomment %}

                        {% if comment.user.userprofile and comment.user.userprofile.user_image %}
                            <div class="d-flex flex-column ">
                                <a href="{% url 'profile_view' id=comment.user.id %}">
                                    <img src="{{comment.user.userprofile.user_image.url}}" style="width:50px; height:50px; border-radius: 50%;" alt="img user">
                                </a>   
                                {% comment %} <img src="{{comment.user.userprofile.user_image.url}}" style="width:50px; height:50px   ; border-radius: 50%;" alt="img user">                                 {% endcomment %}
                                {% comment %} <p>{{ comment.user.id }}</p> {% endcomment %}
                                <p style="font-size:10px; padding:0; margin:0;">{{comment.date|date:"d/m/y"}}</p>
                                <p style="font-size:10px; padding:0; margin:0;">{{comment.date|date:"H:i"}}</p>
                            </div>
                        {% else %}
                            <div class="d-flex flex-column ">
                                <a href="{% url 'profile_view' id=comment.user.id  %}">
                                    {% comment %} <img src="{{"../../media/users/default.jpg"}}" style="width:50px; height:50px; border-radius: 50%;" alt="s/ foto">  {% endcomment %}
                                    <img src="{% static 'images/default.jpg' %}" style="width:50px; height:50px; border-radius: 50%;" alt="s/ foto">
                                                                        
                                </a> 
                                <p style="font-size:10px; padding:0; margin:0;">{{comment.date|date:"d/m/y"}}</p>
                                <p style="font-size:10px; padding:0; margin:0;">{{comment.date|date:"H:i"}}</p>

                            </div>

                        {% endif %}
                        

                        <textarea class="form-control" readonly style="resize: none; height:100px; overflow:hidden;">{{comment.text}}</textarea> 

                        {% comment %} O usuario precisa ser adm ou precisa ser o mesmo usuarioque escreveu o comentário {% endcomment %}
                        {% if user.is_authenticated and user.is_staff or user.is_authenticated and user == comment.user  %} 

                            <form method="POST" action="{% url 'book' book.id %}">
                                {% csrf_token %}
                                <input type="hidden" name="delete_comment" value="{{comment.id}}" >
                                <button type="submit" class="btn-close" aria-label="Close"></button>
                            </form> 
                        {% endif %}
                    </div>
                    
                    <br>
                    
                {% empty %} {% comment %} se não tiver nada para iterar vai aparecer a seguinte mensagem: {% endcomment %}
                    <p>Não há comentários ainda.</p>
                {% endfor %}
            {% else %}
                <p>Não há comentários ainda.</p>
            {% endif %}
        </div>
        

    </div>
    
{% endblock %}







