{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="col-md-12 offset-md-3 mx-auto text-center "  >
    <h2 class="text-center" >Forma de Pagamento - Cartão de Crédito</h2>
    <hr>
    <div class="col-md-6 offset-md-3 mx-auto ">
        <img src="{% static '/images/timer.png' %}" class=" mx-auto mt-5">
        {% comment %} <p class="mt-4">Valor: {{ total_value }}</p> {% endcomment %}
        {% comment %} <p id="order" ></p> {% endcomment %}

        <p class="mt-4">Número do Pedido: {{ order_number }}</p>
        
        {% comment %} <p>Valor: {{ total_value }}</p> Valor Passado por contexto na view mas que pode ser alterado no inspecionar na pagina de checkout {% endcomment %}

        <p>Valor: R${{ total_price }}</p> {% comment %} Resposta da API (Preço total do Pedido) {% endcomment %}    

        <p >Aguardando pagamento. Seu pedido ja está em espera.</p>
        <a href="{% url 'home' %}" class="btn btn-primary" >Voltar ao Menu Inicial</a>
    </div>

    {% comment %} <script>
        let order = localStorage.getItem("NumberOrder")
        console.log(order)
        let pElementOrder = document.getElementById("order")
        pElementOrder.textContent = "Número do pedido: " + order

    </script> {% endcomment %}
    
</div>
{% endblock %}

