

<!-- Modal Status Navbar-->
<div id="cartStatusModal" class="modal fade" tabindex="-1" aria-labelledby="cartStatusLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header d-flex flex-column">
                <div style="width:100%;" class="d-flex">
                    <h4 class="modal-title ml-5" id="cartStatusLabel"><i class="bi bi-cart"></i> Status do Carrinho</h4>                
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div> 
                <br>               
                <div style="width:100%;" class="text-align-start">
                    <div>
                        <h6 style="display:inline-block" >Itens Selecionados: </h6><span></span> <h6 id="quantityBookCartModalNavTitle" style="display:inline-block" >0</h6>
                    </div>
                    
                    
                </div> 
            </div>
            <div class="modal-body">
                <div id="status-modal-content">
                    {% comment %} LISTA DE ITENS ADICIONADOS AO CARRINHO {% endcomment %}
                </div>
            </div>
            
            <div class="modal-footer">
                <div style="width:100%;" class=" d-flex justify-content-end align-items-center">
                    <h6 style="display:inline-block; margin-right:5px;" >Valor Total: </h6><h6 style="display:inline-block" id="totalValueStatusCart">R$ 0,00</h6>
                </div>
                <button onclick="clearCart()" type="button" class="btn btn-danger" data-bs-dismiss="modal">Limpar Carrinho</button>
                {% comment %} <button onclick="clearCart()" type="button" class="btn btn-success" data-bs-dismiss="modal">Finalizar Compra</button> {% endcomment %}
                <a href="{% url 'page_checkout' %}" onclick="sendCartToBackend()" class="btn btn-success" >Finalizar Compra</a>
                {% comment %} <button href="{% url 'page_checkout' %}" type="button" class="btn btn-success" >Finalizar Compra</button>                 {% endcomment %}
                {% comment %} <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Add ao Carrinho</button> {% endcomment %}
            </div>
        </div>
    </div>
</div>