{% extends 'base.html' %}

{% block content %}
<div class="col-md-6 offset-md-3" >
    <h2 class="text-center" >Editar Perfil</h2>
    <hr>
    <br>






{% comment %} <form method="POST" class="mx-auto" action="{% url 'register' %}" style="width:100%;" enctype="multipart/form-data" >
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert" >
                Seu Formulário Possui Erros
            </div>
        {% endif %}

        <p><label>Usuario:</label>{{ userform.username }}</p>        
        <p><label>Nome:</label>{{ form.first_name }}</p>        
        <p><label>Sobrenome:</label>{{ form.last_name }}</p>        
        <p><label>CPF:</label>{{ form.cpf }}</p>        
        <p><label>Email:</label>{{ form.email }}</p>  
        <p><label>Bio:</label>{{ form.bio }}</p>


        <a onclick="changePassword()"  style="text-decoration:none;cursor:pointer;" >
            <p class="form-control">Deseja alterar a senha? Clique aqui</p>
        </a>
        <div id="passwords" style="display:none;">
            <p><label>Nova Senha:</label>{{ form.password1 }}</p>        
            <p><label>Confirmação de Senha:</label>{{ form.password2 }}</p>      
        </div>        
          
        <p><label>Imagem:</label>{{ form.user_image }}</p>


        <br>
        <div class="d-flex justify-content-center ">
            <button type="submit" class="btn btn-primary btn-lg" >Atualizar Perfil</button>
        </div> 
        
    </form>   {% endcomment %}

    <form method="POST" class="mx-auto" action="{% url 'profile_edit'  %}" style="width:100%;" enctype="multipart/form-data" >
    {% comment %} <form method="POST" class="mx-auto" action="{% url 'register' %}" style="width:100%;" enctype="multipart/form-data" > {% endcomment %}
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert" >
                Seu Formulário Possui Erros
            </div>
        {% endif %}
        {% comment %} {{ userForm.as_p }} {% endcomment %}

        <p><label>Usuario:</label>{{ userForm.username }}</p>        
        <p><label>Nome:</label>{{ userForm.first_name }}</p>        
        <p><label>Sobrenome:</label>{{ userForm.last_name }}</p>        
        <p><label>CPF:</label>{{ profileForm.cpf }}</p>        
        <p><label>Email:</label>{{ userForm.email }}</p>  
        <p><label>Bio:</label>{{ profileForm.bio }}</p>
        <p><label>Estado:</label>{{ profileForm.state }}</p>
        <p><label>Cidade:</label>{{ profileForm.city }}</p>
        <p><label>Bairro:</label>{{ profileForm.district }}</p>
        <p><label>Rua:</label>{{ profileForm.street }}</p>
        <p><label>Número da Casa:</label>{{ profileForm.house_number }}</p>
        <p><label>Cep:</label>{{ profileForm.cep }}</p>
        


        <a onclick="changePassword()" style="text-decoration:none;cursor:pointer;" >
            <p 
            class="form-control" 
            onmouseover="this.style.backgroundColor='#d3d3d3';" 
            onmouseout="this.style.backgroundColor='';" >Deseja alterar a senha? Clique aqui</p>
        </a>
        <div id="passwords" style="display:none;">
            <p><label>Nova Senha:</label>{{ userForm.password1 }}</p>        
            <p><label>Confirmação de Senha:</label>{{ userForm.password2 }}</p>      
        </div>        
          
        <p><label>Imagem:</label>{{ userForm.user_image }}</p>
        {% comment %} <p><label>Imagem:</label>{{ profileForm.user_image }}</p> {% endcomment %}


        <br>
        <div class="d-flex justify-content-center ">
            <button type="submit" class="btn btn-primary btn-lg" >Atualizar Perfil</button>
        </div> 
        
    </form> 


    <script>
        let passwords = document.getElementById("passwords")
        function changePassword(){
            if(passwords.style.display == "block"){
                passwords.style.display = "none"
            }else{
                passwords.style.display = "block"
            }
        }
    </script>


</div>
<br>

{% endblock %}